#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

#signature-control {
  height: 300px;
  width: 500px;
  float: left;
}

#signature {
  border: 1px solid lightgray;
  height: 100%;
  width: 100%;
}

#option {
  margin-bottom: 10px;
}

#checkbox1 {
  margin-bottom: 5px;
  margin-left: 200px;
}

#checkbox2 {
  margin-left: 200px;
}