#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
}

#element {
    display: block;
    height: 350px;
}

#wrapper {
    width: 250px;
    margin: 0 auto;
}

#date_label {
/* csslint ignore:start */
    display: block;
    width: 248px;
    color: rgba(0, 0, 0, 0.58);
    margin-left: 5px;
/* csslint ignore:end */
}

.e-highlightweekend {
    background-color: #cfe9f3;
}