#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.element {
    height: 100px;
    width:150px;
    border: 1px solid #cecece;
    cursor: move;
    user-select: none;
    color:#6a77a7;
     touch-action: none;
}
p {
    padding-top: 40px;
    text-align: center;
}

