/* csslint ignore:start */

.e-pivotview .e-headercell { 
    background-color: thistle !important; 
} 

.e-pivotview .e-rowsheader { 
    background-color: skyblue !important; 
}

.e-pivotview .e-summary:not(.e-gtot)  { 
    background-color: pink !important; 
} 

.e-pivotview .e-gtot  { 
    background-color: greenYellow !important; 
} 

#PivotView {
    display: block
}

/* csslint ignore:end */