#container {
    display: flex;
    justify-content: center;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.table-section {
    margin: 0 auto;
}

td {
    padding: 20px 0;
    min-width: 230px;
    height: 100px;
}

