html,
body,
#dialog-container {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}


.row {
    padding: 10px 3px;
}

span.close-icon {
    width: 24px;
    height: 24px;
    position: relative;
    /* background-color: yellow; */
    display: inline-block;
}
span.error-msg {
    color: #66afe9;
    display: inline-block;
    position: relative;
    top: -29px;
    left: 32px;
}
.error-detail.col-lg-8 {
    position: relative;
    left: 45px;
    margin: 0px 0px 21px;
}
.e-icons.close-icon.col-lg-2:before {
    content: '\e7e9';
    font-size: 26px;
    color:#d9534f;
    position: relative;
    left: -12px;
}

.e-dialog .e-footer-content {
    background-color: #f8f8f8;
}

.e-dialog.e-control.e-popup, .e-dialog.e-control.e-popup .e-dlg-header-content {
    background-color: #d9edf7;
}
.e-dialog.e-control.e-popup {
    padding:3px;
}
.e-dialog.e-control .e-dlg-header-content {
    padding: 10px;
}
.e-dialog.e-control .e-footer-content {
    padding: 8px 12px;
}

.e-dialog.e-control .e-dlg-content {
    padding: 15px 0px 0px;
}