
#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.e-content .e-item {
    font-size: 12px;
    margin: 10px;
    text-align: justify;
}
.container {
    min-width: 350px;
    max-width: 500px;
    margin: 0 auto;
}

.e-image {
	background-size: 33px;
	width: 33px;
    height: 30px;
	margin: 0 auto;
}

.e-image.e-andrew { /* csslint allow: adjoining-classes */
	background-image: url(./1.png);
}

.e-image.e-margaret { /* csslint allow: adjoining-classes */
	background-image: url(./2.png);
}

.e-image.e-janet { /* csslint allow: adjoining-classes */
	background-image: url(./3.png);
}

.e-tab .e-toolbar-item .e-title {
    display: none;
}

.e-toolbar .e-toolbar-items .e-toolbar-item:not(.e-separator),
.e-toolbar .e-toolbar-items .e-toolbar-item .e-tab-wrap {
    width: 105px;
    height: 50px;
}

.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-wrap { /* csslint allow: adjoining-classes */
    background-color: #08c;
}
.e-tab .e-tab-header {
    background-color: #e6e6e6;
}
.e-tab .e-tab-header .e-toolbar-item:not(.e-active) .e-tab-wrap:hover {
   background-color: #f2f2f2;
   color:#000;
}
.e-tab .e-toolbar .e-toolbar-items .e-toolbar-item .e-text-wrap {
    height: 50px;
}

.e-tab .e-toolbar-item.e-active .e-image { /* csslint allow: adjoining-classes */
    display: none;
}

.e-tab .e-toolbar-item.e-active .e-title { /* csslint allow: adjoining-classes */
    display: block;
    color: white;
}

.e-tab .e-toolbar-item .e-text-wrap,
.e-tab .e-toolbar-item .e-tab-text {
    width:  inherit;
    text-align: center;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}