#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 45%;
}

#wrapper {
    width: 250px;
    margin: 0 auto;
}

.e-bigger .control-wrapper {
	width: 300px;
}

.e-multi-select-wrapper .e-chips{
  opacity: 0.9;
}
    
.e-multi-select-wrapper .e-chips:hover{
  opacity: 1;
}

.e-multi-select-wrapper .e-chips .e-chips-close.e-icon::before, .e-multi-select-wrapper .e-chips .e-chipcontent, .e-multi-select-wrapper .e-chips .e-chipcontent:hover { /* csslint allow: adjoining-classes */
	color: #ffffff;
}

.e-chips.chocolate, .e-chips.chocolate:hover { /* csslint allow: adjoining-classes */
	background-color: #75523C;
}

.e-chips.darkorange, .e-chips.darkorange:hover { /* csslint allow: adjoining-classes */
	background-color: #FF843D;
}

.e-chips.darkred, .e-chips.darkred:hover { /* csslint allow: adjoining-classes */
	background-color: #CA3832;
}

.e-chips.fuchsia, .e-chips.fuchsia:hover { /* csslint allow: adjoining-classes */
	background-color: #D44FA3;
}

.e-chips.cadetblue, .e-chips.cadetblue:hover { /* csslint allow: adjoining-classes */
	background-color: #3B8289;
}

.e-chips.hotpink, .e-chips.hotpink:hover { /* csslint allow: adjoining-classes */
	background-color: #F23F82;
}

.e-chips.indigo, .e-chips.indigo:hover { /* csslint allow: adjoining-classes */
	background-color: #2F5D81;
}

.e-chips.limegreen, .e-chips.limegreen:hover { /* csslint allow: adjoining-classes */
	background-color: #4CD242;
}

.e-chips.orangered, .e-chips.orangered:hover { /* csslint allow: adjoining-classes */
	background-color: #FE2A00;
}

.e-chips.tomato, .e-chips.tomato:hover { /* csslint allow: adjoining-classes */
	background-color: #FF745C;
}