#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
}

#sample {
  display: block;
  max-width: 280px;
  margin: auto;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

#element.e-treeview .e-ul {
  padding: 0;
}

#element.e-treeview .e-list-item {
  padding: 0 16px;
}

#element.e-treeview .e-text-content {
  padding: 0;
}

#element.e-treeview .e-fullrow {
  height: 36px;
}

#element.e-treeview .e-list-text {
  line-height: 34px;
}

#element.e-treeview .e-list-item:last-child {
  margin-bottom: 9px;
}

#element.e-treeview .e-list-item:first-child {
  margin-top: 9px;
} 