#loader {
    color: #008cff;
    font-family:  'Helvetica Neue','calibiri';
    font-size: 16px;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.e-schedule .template-wrap {
    display: flex;
    text-align: left;
}

.e-schedule .template-wrap .resource-details {
    padding-left: 10px;
}

.e-schedule .template-wrap .resource-details .resource-name {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}
  /* csslint ignore:start */
.e-schedule.e-device .template-wrap .resource-details .resource-name {
    font-size: inherit;
    font-weight: inherit;
}

.e-schedule.e-device .e-resource-tree-popup .e-fullrow {
    height: 50px;
}
  /* csslint ignore:end */