#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
}

html, body, .control-section {
  height: 95%;
}

.menu-section {
  margin-top: 100px;
  text-align: center;        
  float: left;
}

.property-section {
  overflow: auto;
  width: 40%;
  height: 330px;
  float: right;
  font-family: monospace;
}

.property-section th {
  text-align: left;
}

#clear {
  float: right;
  clear: both;
}