
#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

#code-text {
  margin-left: 5px;
}

.code-preview {
  margin-top: 15px;
  font-size: 12px;
}

.h3 {
  font-size: 14px;
  margin: 4px;
}

.content {
  padding: 9px;
}

.splitter-image {
  margin: 0 auto;
  display: flex;
  height: 115px;
  margin-top: 10px;
}

.vertical_splitter.e-splitter.e-splitter-vertical  {
  border: none;
}

#container {
  margin: 20px auto;
}