.control-section {
    margin: 0 auto;
    width: 500px;
}

#defaultLayout {
    padding: 10px;
}

#defaultLayout .e-panel .e-panel-container {
    vertical-align: middle;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.content {
    line-height: 90px;
}