#container {
  max-width: 700px;
  min-width: 520px;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

#draggableTab .e-content .e-item {
  font-size: 12px;
  margin: 10px;
  text-align: justify;
}