#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 45%;
}

#element {
    display: block;
    height: 350px;
}

#wrapper {
    width: 530px;
    margin: 0 auto;
}

#fisrtdatepicker, #seconddatepicker {
    margin-right:30px;
}

/* span.e-today {
    margin-left: 62px;
}

.e-calendar .e-footer {
    height: 27px;
}

span.e-today,
span.e-clear {
    color: #ff4081;
}

span.e-clear {
    float: right;
    margin-right: 20px;
}

.e-calendar .e-footer {
    padding-bottom: 8px;
} */