#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.e-card-image {
    background: url('./sample.jpg');
    height: 164px;
}

.e-card {
    width: 200px;
    margin: auto;
}

.topleft {
    top: 0;
    bottom: auto !important;
}

.topright {
    top: 0;
    text-align: right;
    bottom: auto !important;
}

.bottomright {
    bottom: 0;
    right: 0;
    text-align: right;
}