#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.musicIcon::before {
    content: "\e729"
}

.videoIcon::before {
    content: "\e7ab"
}

.imageIcon::before {
    content: "\e7b3"
}