#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
}

body {
  margin-top: 100px;
  text-align: center;
}

#breadcrumb-control {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

#breadcrumb-control .header {
	text-align: left;
	padding-left: 10px;
}

#breadcrumb-control .e-control.e-breadcrumb {
	text-align: left;
}