/* Example -styles */

#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 45%;
}

#element {
    display: block;
    height: 350px;
}

#wrapper {
    width: 250px;
    margin: 0 auto;
}


/* Custom -styles */


.e-calendar .e-content tr.e-month-hide { /* csslint allow: adjoining-classes*/
    display: table-row;
}

/* csslint ignore:start */
.e-calendar .e-content td.e-other-month>span.e-day {
/* csslint ignore:end */
    display: inline-block;
}

.e-calendar .e-content td.e-month-hide, /* csslint allow: adjoining-classes*/
.e-calendar .e-content td.e-other-month { /* csslint allow: adjoining-classes*/
    pointer-events: auto;
    touch-action: auto;
}