@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body {
    padding: 3em;
    font-family: 'Raleway', 'Arial';
}
ul {
    list-style-type:none;
    margin:0 0 2em 0;
    padding:0;
}
ul li a {
    font-size: 1.5em;
}
a {
    color:#fff;
    text-decoration:none;
}