#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}
.e-card-image {
    background: url('./sample.jpg');
    height: 160px;;
}

.e-card {
    width: 200px;
    margin: auto;
}