.swimlane-template {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}

.swimlane-template img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.swimlane-template span {
    padding-left: 5px;
    vertical-align: middle;
}

.e-kanban .e-kanban-content .e-content-row.e-swimlane-row .e-content-cells .e-swimlane-header .e-item-count {
    padding: 4px;
}