#loader {
	color: #008cff;
	height: 40px;
	width: 30%;
	position: absolute;
	font-family:  'Helvetica Neue','calibiri';
	font-size:16px;
	top: 45%;
	left: 45%;
}

.e-query-builder {
	display: block;
	margin: 0 auto;
}

.e-rule-template {
	padding-bottom: 12px;
}
.e-rule-btn {
	float: right;
	padding-top: 12px;
}
.e-rule-value-group {
	margin: 12px;
	border-top: 1px solid #e0e0e0;
	min-height: 40px;
}
		
.e-query-builder .e-hide {
	display: none;
}
		
.e-rule-table {
	margin: 20px 0 0 20px;
	border: solid 1px #e0e0e0;
	border-collapse: collapse;
	font-family: Roboto;
	width: 320px;
	height: 180px;
	overflow-y: auto;
}

.e-slide-val {
	width: 35%;
}

.e-rule-table th,
.e-rule-table td {
	border: solid #e0e0e0;
	border-width: 1px 0 0;
	display: table-cell;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
	padding: 8px 21px;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
}