

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

#template_container {
  margin: 60px auto;
}

.auto-size-content, .template {
  padding: 9px;
}