#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
}

#ui-list {
  display: block;
  max-width: 400px;
  margin: auto;
  border: 1px solid #dddddd;
  border-radius: 3px;
  cursor: pointer;
}

button {
  float: right
}

#icon {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
  float: left;
  margin-top: 17px;
  margin-right: 35px;
}

img {
  border-radius: 50%;
  border: #ddd;
  border: 1px solid rgba(40, 40, 40, 0.12);
}

.R {
  background: purple;
}

.M {
  background: pink;
}

.A {
  background: green;
}

.S {
  background: lightskyblue;
}

.J {
  background: orange;
}

.N {
  background: blue;
}

#ui-list .e-list-item {
  height: 80px;
  border: #ddd;
  border: 1px solid rgba(184, 184, 184, 0.12);
}

.list-container {
  width: inherit;
  height: 100%;

}

.showUI {
  display: inline;
}

.hideUI {
  display: none;
}

.content {
  height: 100%;
  float: left;
}

.name {
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 78px;
}
