#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

#hide{
  float: right;
}

button{
  background-color: #aaa;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 13px 28px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}