#loader {
  color: #008cff;
  font-family: 'Helvetica Neue', 'calibiri';
  font-size: 16px;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}
#tooltipContent {
  margin: 0 auto;
  display: table;
  padding-top: 40px;   
}

.content {
  padding-left: 20px;
  display: table-cell;
}