.e-quick-popup-wrapper .e-popup-header {
    height: 30px;
  }
  
  .e-quick-popup-wrapper .e-header-icon-wrapper {
    height: inherit;
  }
  
  .e-quick-popup-wrapper .e-header-icon-wrapper .subject {
    left: 0;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 2px 5px;
  }
  
  .e-quick-popup-wrapper .e-cell-footer,
  .e-quick-popup-wrapper .e-event-footer {
    display: flex;
  }
  
  .e-quick-popup-wrapper .e-cell-footer .right-button,
  .e-quick-popup-wrapper .e-event-footer .right-button {
    position: absolute;
    right: 0;
  }
  
  .e-quick-popup-wrapper .e-cell-footer button,
  .e-quick-popup-wrapper .e-event-footer button {
    margin: 10px;
    padding: 4px;
  }
  
  .e-quick-popup-wrapper .e-event-content .start-time,
  .e-quick-popup-wrapper .e-event-content .end-time,
  .e-quick-popup-wrapper .e-event-content .location {
    padding: 8px;
  }  