
@import '../node_modules/@syncfusion/ej2/material.css';
@import '../node_modules/@syncfusion/ej2-angular-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-barcode-generator/styles/material.css';