#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}
.control-section{
    padding: 20px;
}

.e-customize.e-skeleton.e-shimmer-wave::after{
    background-image: linear-gradient(90deg, transparent calc(50% - 100px), 
    rgb(30 128 234 / 50%) 50%, 
    transparent calc(50% + 100px));
  }
.e-customize.e-skeleton.e-skeleton-circle{
    background-color: #a8c1f2;
  }