#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

#signature {
  border: 1px solid lightgray;
  height: 100%;
  width: 100%;
}

.wrap {
  height: 300px;
  width: 550px;
}

#input {
  margin-bottom: 30px;
}

#text {
  height: 30px;
  width: 350px;
}