/* Represents the styles for loader */
#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

#skeleton-list {
    padding-left: 12px;
    padding-top: 7px;
    line-height: inherit;
  }
  
#skeleton-list li {
    list-style: none;
    display: flow-root;
    margin-bottom: 9px;
}
.listProfile {
    float: left;
    margin-right: 15px;
}